<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title>DH-HEROES</title>
</head>
<body>
    <h1> BABBAGE</h1>
    <h2>HÉROE DE LA INFORMATICA</h2>
    <p>Charles Babbage KH FRS fue un erudito inglés. Babbage, matemático, filósofo, inventor e ingeniero mecánico, originó el concepto de una computadora digital programable. Algunos consideran que Babbage es el "padre de la computadora".
    </p>
</body>
</html>